*{

    margin: auto;
    padding:0%;

}
body{


    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

.hero-section {
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-section h2 {
  font-size: 48px;
  margin: 0;
}

.cta-button {
  display: table;
  background-color: #e8e412;
  color: #080303;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
}

h1 {
   
    
    background-color: rgb(0, 0, 0);
    color: #ff0404;
    font-size: 50px;
    margin-top: 0;
    align-items: center;
    text-align: center;
  }


header{


    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
  }

  .container{

    display: table;
    align-items: center;
    align-content: center;


  }

.container5{

    display: grid;
    align-items: center;
    align-content: center;


  }

  .my-button {
    
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: wavy;
    font-weight: bold;
  }
  
  .my-button:hover{

    color: darkblue;
  }


  .data-container {
	width: 1240px;
	height: 384px;
	position: relative;
	margin: 0 auto;
}

.bar {
	width: 28px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgb(155, 12, 36);
	transition: 0.2s all ease;
}

.bar__id {
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
  color: rgb(231, 231, 231);
  font-weight: bold;
}


